<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <!-- header('Content-Type: application/javascript'); -->
    <link rel="icon" href="/img/s.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>headers}}
        <p>{{errorMessage}}</p>
    </div>

    {{>footer}}



</body>

</html>