<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/s.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>headers}}
        <img class="potrait" src="/img/h16.jpg">
    </div>
    {{>footer}}
</body>

</html>